<!-- templates/contact.html -->
{% extends "base.html" %}
{% block content %}
<section class="contact-section">
    <h2 class="fade-in">Contact Us</h2>
    <p class="slide-up">We'd love to hear from you! Reach out for any queries or collaborations.</p>

    <div class="contact-details">
        <p><strong>📍 Address:</strong> 5, Safed Pool, Pareira Compound, A K Rd, Andheri (e), Mumbai</p>
        <p><strong>📞 Phone:</strong> 00222851574 / 01122440932
        </p>
        <p><strong>📧 Email:</strong> <a href="mailto:[kedarpattanshetti@gmail.com
          ">kedarpattanshetti@gmail.com
        </a></p>
    </div>
</section>
{% endblock %}

